body{
	background-image: url("../images/2.jpg");
}
.marginDiv{
	margin: 150px 20px 20px 20px;
	width: content-box;
	/*height: auto;*/
}

.registerDiv{
	border: 1px solid #515a6e;
	width: 600px;
	margin: 0 auto;
	background-color: white;
	padding: 15px 15px 15px 15px;
	font-size: 12pt;
	border-radius: 5px;

}


input,select{
	/*height: 25px !important;*/
	border-radius: 2px;
	border: 1px solid #ccc;
	font-weight: normal;
}


select:hover, input:hover{
	/*color: pink;*/
	background-color: #faffd5;
}

.nav-color{
	background-color: #515a6e;
	border-color: #515a6e;
}

.redStar{
	text-align: right;
	color: red;
}

.toRight{
	width: 130px;
	display: inline-block;
	text-align: right;
}
.pTip{
	font-size: small;
	color: gray;
	text-align: center;
	margin-right: 22px;
}

#provinceStyle,#cityStyle{
	padding: 2px;
	text-align: center;
}

.pswText, .pswTip , .phoneCodeText, .divWarnImg, .NameText, .PhoneNumText, .spanBtnGetCode, .divRightImg{
	/*height: 50px;*/
	/*line-height: 50px; 控制行距*/
	/*margin:15px;*/
	float:left;
}


.pswTip{
	float: left;
	width: 150px;
	height: auto;
	padding: 2px;
	border: 0.5px solid black;
	margin-left: 15px;
	font-size: x-small;
	overflow: hidden;  /*超出边框文字隐藏;*/
	background-color: #f1ffaf;

}


.divEmail,.divPhoneCode, .divName, .divPhoneNum, .divPsw, .divGender, .divProvinceAndCity{
	margin-top: 10px;
	margin-bottom: 10px;
}



.divWarn, .divRightTip{
	/*隐藏时使用visibility属性仍会占用局部空间*/
	/*visibility: hidden;*/
	/*隐藏时使用display属性可以不占用局部空间*/
	display: none;
	margin-bottom: 10px;
	float: left;
}

.warnTip{
	/*margin: 0 auto;*/
	border: 1px solid lightcoral;
	border-radius: 3px 3px 3px 3px;
	margin-left: 15px;
	padding: 2px;
	width: 150px;
	height: 25px;
	line-height: 25px;
	background-color: rgba(255, 22, 39, 0.16);

}

.divText{
	font-size: 12px;
	color: red;
	font-family: STSong, serif;
	font-weight: bold;
}

.divRightImg{
	padding-left: 4px;
	padding-top: 2px;
}
.btnSubmit{
	width: 139px;
	height: 41px;
	background-image: url(../images/btnImg.png);
	background-repeat: no-repeat;
	cursor: pointer;
	background-position: -395px -4px;
	display: block;
	margin: 0 auto;
	border:0.5px solid greenyellow;
	border-radius:5px
	/*圆角化*/
}

.btnSubmit:hover{
	background-image: url(../images/btnImg.png);
	cursor: pointer;
	background-position: -542px -4px;
}

.btnDiv{
	width: 80px;
	text-align: center;
	margin: 0 auto;
}

#spanWarn{
	width: 10px;
	height: 10px;
}

.spanBtnGetCode{
	margin-left: 15px;
}



.footerDiv{
	height: 50px;
	line-height: 50px;
	margin-top: 10px;
	font-size: 12px;
	text-align: center;
	position:fixed;
	bottom: 0;

}


.clearFix {*zoom:1;}
.clearFix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
}